<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="icon" href="https://teamsearchmr.sharefile.com/styles/images/1e5ffe03-b78a-4052-af71-f7c1e17094b6.png">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='/css/bootstrap.min.css'>
<link rel='stylesheet' href='/css/fa.all.min.css'>
<link rel='stylesheet' href='/css/fontawesome.min.css'>
<link href="css/JA2.global-v2.css" rel="stylesheet">
<script type="text/javascript">
window.addEventListener("beforeunload", function (event) {
  $("body").addClass("loading");
  function checkServer(){
    return new Promise((res,rej)=>{
      function loop(){
        console.log("checkingServer")
        $.ajax({
          url:'/server-info',
          global:false,
          success:(e)=>{
            setTimeout(loop,1000)
          },error:(e)=>{
            window.FlashMessage.error('Cannot load the page. The system administrator has been informed by email.',{timeout:1000000})
            res('Cannot load the page. The system administrator has been informed by email.')
          }
        })
      }
      loop()
    })
  }
  return checkServer().then(e=>{
    $("body").removeClass("loading");
    return e
  })
});
</script>
<style>
body{
  background:url("https://static.wixstatic.com/media/f63e12_8104db29b89a4bf48b179d7bfc1e1117~mv2_d_5184_3456_s_4_2.jpg") no-repeat center center fixed;
  background-size: cover;
  mix-blend-mode:unset;
}
.login-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px;
  background: white;
}
.row {
  margin: 7px 0px;
}
div#bg-colour {
    background: #ffffffde;
    backdrop-filter: blur(9px);
}
.btn-sm {
    margin: 7px auto;
}
.login-submit {
    text-align: center;
    margin-top: 20px;
}
</style>
</head>
<body>
  <div class="load"><div class="loader">
    <div class="loadSpinnerSizer">
      <svg class="loadSpinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>
      <svg class="loadText ja2" width="58" height="34" viewBox="0 0 58 34" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M 33.0939 18.6699 L 29.7137 10.0866 C 29.7135 10.0861 29.7133 10.0856 29.7131 10.085 C 29.0599 8.4574 28.4209 6.6807 27.7959 4.7553 C 27.6399 5.2633 27.4644 5.8131 27.2694 6.4047 C 26.8843 7.6012 26.4717 8.784 26.0316 9.9531 L 22.758 18.6699 Z M 33.0939 18.6699 H 22.758 M 33.0939 18.6699 H 22.758 M 22.758 18.6699 L 26 10 L 22.758 18.6699 Z M 1.9427 22.3031 L 1.4863 22.3558 L 1.5002 22.815 C 1.5909 25.7984 2.2767 28.1238 3.6353 29.7083 C 5.0082 31.3093 7.0009 32.0772 9.5264 32.0772 C 11.3175 32.0772 12.8496 31.7868 14.0937 31.1814 L 13.9471 31.5645 H 14.6738 H 17.668 H 18.0161 L 18.1369 31.2379 L 21.5435 22.0283 H 34.4097 L 36.7266 27.9477 C 36.3918 28.8807 36.1706 29.9041 36.0596 31.0148 L 36.0046 31.5645 H 36.5571 H 55.9575 H 56.4575 V 31.0645 V 28.6241 V 28.1241 H 55.9575 H 40.9897 L 40.7832 27.6145 C 41.0015 27.2542 41.2456 26.9109 41.5157 26.5844 L 41.5186 26.5807 C 42.0834 25.8846 42.7638 25.2033 43.5627 24.5375 L 43.5633 24.537 C 44.3865 23.8488 45.6286 22.8847 47.2945 21.6421 L 47.2964 21.6407 L 48.8755 20.4512 L 48.8766 20.4504 C 50.693 19.0743 52.1438 17.8264 53.221 16.7072 C 54.3045 15.5815 55.1203 14.4276 55.6544 13.2438 L 55.6554 13.2417 C 56.1922 12.0374 56.4575 10.7231 56.4575 9.3057 C 56.4575 7.6732 56.0447 6.1809 55.2153 4.8411 C 54.3998 3.488 53.2505 2.4291 51.7814 1.6652 C 50.3199 0.8844 48.6658 0.5001 46.8315 0.5001 C 44.0914 0.5001 41.8225 1.2079 40.0719 2.6667 C 38.3125 4.1329 37.2185 6.3425 36.7406 9.2239 L 36.6563 9.7324 L 37.167 9.8013 L 39.751 10.1499 L 40.2418 10.2161 L 40.3127 9.726 C 40.6173 7.6201 41.3129 6.1097 42.3467 5.1254 C 43.3736 4.1477 44.7935 3.6329 46.6674 3.6329 C 47.8712 3.6329 48.9267 3.8719 49.8457 4.3377 C 50.7608 4.8015 51.4687 5.4608 51.9798 6.3209 C 52.4875 7.1754 52.7504 8.1917 52.7504 9.3878 C 52.7504 10.5222 52.5254 11.5397 52.0837 12.449 C 51.6405 13.3475 50.865 14.3394 49.728 15.4231 C 48.588 16.4959 46.9122 17.8418 44.691 19.4634 L 44.6907 19.4637 C 42.4931 21.0706 40.7876 22.483 39.5853 23.6994 L 39.5853 23.6994 C 39.492 23.7938 39.4007 23.888 39.3114 23.982 L 29.9234 0.8122 L 29.7969 0.5 H 29.46 H 26.1787 H 25.8347 L 25.7117 0.8213 L 18.168 20.5346 V 1 V 0.5 H 17.668 H 14.8174 H 14.3174 V 1 V 22.6562 C 14.3174 24.7958 13.9068 26.2903 13.1725 27.2291 C 12.4561 28.1453 11.3619 28.6367 9.793 28.6367 C 8.2464 28.6367 7.1626 28.1689 6.4476 27.3026 C 5.7321 26.4189 5.2735 24.8461 5.1655 22.4695 L 5.1412 21.934 L 4.6087 21.9955 L 1.9427 22.3031 Z" stroke="black"/>
      </svg>
      <svg class="loadText loading" width="73" height="22" viewBox="0 0 73 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.58252 17H0.561035V0.536133H2.58252V17Z" fill="black"/>
      <path d="M3.11215 11.0479C3.11215 9.7526 3.34424 8.63704 3.80844 7.70117C4.27263 6.7653 4.924 6.05029 5.76254 5.55615C6.60857 5.06201 7.58562 4.81494 8.69369 4.81494C9.80925 4.81494 10.7863 5.05452 11.6248 5.53369C12.4634 6.01286 13.1148 6.72038 13.5789 7.65625C14.0506 8.58464 14.2865 9.70768 14.2865 11.0254C14.2865 12.3356 14.0506 13.4624 13.5789 14.4058C13.1073 15.3416 12.4484 16.0566 11.6024 16.5508C10.7638 17.0374 9.79428 17.2808 8.69369 17.2808C7.60059 17.2808 6.63477 17.0449 5.79623 16.5732C4.95769 16.0941 4.29883 15.3866 3.81967 14.4507C3.34799 13.5148 3.11215 12.3805 3.11215 11.0479ZM8.68246 6.47705C8.00863 6.47705 7.40593 6.65299 6.87436 7.00488C6.35027 7.34928 5.93474 7.86589 5.62777 8.55469C5.32829 9.236 5.17855 10.0671 5.17855 11.0479C5.17855 12.0286 5.32829 12.8634 5.62777 13.5522C5.92725 14.2336 6.33904 14.7502 6.86312 15.1021C7.3947 15.4465 8.00489 15.6187 8.69369 15.6187C9.40495 15.6187 10.0264 15.439 10.5579 15.0796C11.0895 14.7202 11.4976 14.1961 11.7821 13.5073C12.0741 12.8185 12.2201 11.9912 12.2201 11.0254C12.2201 10.0521 12.0703 9.22477 11.7708 8.54346C11.4714 7.86214 11.0558 7.34928 10.5243 7.00488C9.99268 6.65299 9.37875 6.47705 8.68246 6.47705Z" fill="black"/>
      <path d="M24.4181 17H22.3068C22.187 16.7454 22.1047 16.5396 22.0597 16.3823C22.0148 16.2251 21.9587 15.9406 21.8913 15.5288C21.3148 16.1427 20.7046 16.5882 20.0607 16.8652C19.4168 17.1423 18.6794 17.2808 17.8483 17.2808C17.0996 17.2808 16.437 17.1385 15.8605 16.854C15.2915 16.562 14.8498 16.1577 14.5353 15.6411C14.2284 15.117 14.0749 14.5181 14.0749 13.8442C14.0749 12.8185 14.4081 12.0024 15.0744 11.396C15.7407 10.7896 16.8376 10.3703 18.3649 10.1382C19.9522 9.8986 21.0827 9.67025 21.7565 9.45312V9.13867C21.7565 8.47233 21.6704 7.94824 21.4982 7.56641C21.326 7.17708 21.049 6.89632 20.6672 6.72412C20.2928 6.55192 19.7837 6.46582 19.1398 6.46582C18.3312 6.46582 17.6911 6.64925 17.2194 7.01611C16.7552 7.38298 16.4483 7.95947 16.2985 8.74561L14.322 8.44238C14.5615 7.23698 15.0969 6.33105 15.9279 5.72461C16.7665 5.11816 17.8745 4.81494 19.2521 4.81494C20.3078 4.81494 21.1651 4.94971 21.8239 5.21924C22.4828 5.48128 22.9732 5.91553 23.2951 6.52197C23.617 7.12093 23.778 7.92952 23.778 8.94775V13.2266C23.778 13.9678 23.793 14.5405 23.8229 14.9448C23.8604 15.3491 23.9203 15.6973 24.0026 15.9893C24.0925 16.2812 24.231 16.6182 24.4181 17ZM18.4548 11.834C17.6537 11.9762 17.0659 12.2121 16.6916 12.5415C16.3247 12.8709 16.1413 13.3052 16.1413 13.8442C16.1413 14.4207 16.3247 14.8737 16.6916 15.2031C17.0659 15.5251 17.6012 15.686 18.2975 15.686C18.8815 15.686 19.4917 15.4989 20.1281 15.1245C20.5698 14.8625 20.903 14.5817 21.1276 14.2822C21.3597 13.9753 21.5207 13.6047 21.6105 13.1704C21.7079 12.7362 21.7565 12.1709 21.7565 11.4746V11.0479C21.5768 11.1302 21.1688 11.2463 20.5324 11.396C19.9035 11.5457 19.211 11.6917 18.4548 11.834Z" fill="black"/>
      <path d="M35.0552 17H33.1685V15.4839H33.1236C32.7642 16.0304 32.2626 16.4684 31.6187 16.7979C30.9748 17.1198 30.301 17.2808 29.5972 17.2808C28.564 17.2808 27.6431 17.0225 26.8345 16.5059C26.0259 15.9818 25.397 15.248 24.9478 14.3047C24.4986 13.3613 24.2739 12.2757 24.2739 11.0479C24.2739 9.77507 24.4836 8.67074 24.9029 7.73486C25.3221 6.79899 25.9173 6.08024 26.6885 5.57861C27.4671 5.0695 28.3768 4.81494 29.4175 4.81494C30.1887 4.81494 30.8625 4.94971 31.439 5.21924C32.0155 5.48877 32.5321 5.89681 32.9888 6.44336H33.0337V0.536133H35.0552V17ZM29.6084 6.46582C28.9271 6.46582 28.3394 6.65299 27.8452 7.02734C27.3586 7.40169 26.9842 7.93701 26.7222 8.6333C26.4676 9.3221 26.3404 10.1307 26.3404 11.0591C26.3404 12.0324 26.4826 12.8634 26.7671 13.5522C27.0591 14.2336 27.4597 14.7502 27.9688 15.1021C28.4779 15.4465 29.0656 15.6187 29.732 15.6187C30.4507 15.6187 31.0684 15.439 31.585 15.0796C32.1016 14.7202 32.4946 14.2111 32.7642 13.5522C33.0337 12.8859 33.1685 12.1073 33.1685 11.2163C33.1685 10.228 33.0225 9.37826 32.7305 8.66699C32.4385 7.95573 32.023 7.41292 31.4839 7.03857C30.9523 6.65674 30.3272 6.46582 29.6084 6.46582Z" fill="black"/>
      <path d="M38.37 2.82715H36.3485V0.536133H38.37V2.82715ZM38.37 17H36.3485V5.08447H38.37V17Z" fill="black"/>
      <path d="M47.3449 17V9.20605C47.3449 8.33757 47.1278 7.67871 46.6936 7.22949C46.2593 6.78027 45.6454 6.55566 44.8518 6.55566C43.8485 6.55566 43.0661 6.85889 42.5046 7.46533C41.9506 8.07178 41.6735 9.0376 41.6735 10.3628V17H39.6521V5.08447H41.5388V6.74658C41.9356 6.14762 42.4484 5.67594 43.0773 5.33154C43.7137 4.98714 44.4175 4.81494 45.1887 4.81494C46.5663 4.81494 47.607 5.17057 48.3107 5.88184C49.0145 6.5931 49.3664 7.61133 49.3664 8.93652V17H47.3449Z" fill="black"/>
      <path d="M58.6221 5.08447H60.5088V15.9893C60.5088 17.9359 60.0746 19.3958 59.2061 20.3691C58.3451 21.3424 56.9899 21.8291 55.1407 21.8291C53.6807 21.8291 52.5464 21.4959 51.7378 20.8296C50.9367 20.1707 50.495 19.2236 50.4126 17.9883L52.3667 18.2915C52.4641 18.9354 52.7373 19.4108 53.1866 19.7178C53.6433 20.0247 54.2834 20.1782 55.107 20.1782C56.26 20.1782 57.1097 19.8862 57.6563 19.3022C58.2103 18.7108 58.4873 17.5091 58.4873 15.6973V15.439C57.6189 16.4797 56.4808 17 55.0733 17C54.0401 17 53.1267 16.7454 52.333 16.2363C51.5469 15.7197 50.9367 15.0047 50.5025 14.0913C50.0757 13.1779 49.8623 12.1297 49.8623 10.9468C49.8623 9.73389 50.0607 8.66699 50.4576 7.74609C50.8544 6.81771 51.4346 6.09896 52.1983 5.58984C52.962 5.07324 53.8791 4.81494 54.9497 4.81494C55.7733 4.81494 56.4733 4.95719 57.0498 5.2417C57.6263 5.5262 58.1355 5.94922 58.5772 6.51074H58.6221V5.08447ZM55.0957 6.46582C54.4743 6.46582 53.924 6.63802 53.4449 6.98242C52.9657 7.31934 52.5913 7.81722 52.3218 8.47607C52.0598 9.13493 51.9287 9.92106 51.9287 10.8345C51.9287 11.7703 52.0598 12.5789 52.3218 13.2603C52.5913 13.9341 52.9769 14.4507 53.4786 14.8101C53.9802 15.1694 54.5754 15.3491 55.2642 15.3491C55.968 15.3491 56.5707 15.1694 57.0723 14.8101C57.5814 14.4507 57.967 13.9378 58.229 13.2715C58.4911 12.5977 58.6221 11.8003 58.6221 10.8794C58.6221 9.98096 58.4799 9.19857 58.1954 8.53223C57.9183 7.86589 57.514 7.35677 56.9825 7.00488C56.4509 6.64551 55.822 6.46582 55.0957 6.46582Z" fill="black"/>
      <path d="M64.3851 17H61.847V14.4731H64.3851V17Z" fill="black"/>
      <path d="M68.2951 17H65.757V14.4731H68.2951V17Z" fill="black"/>
      <path d="M72.2051 17H69.6671V14.4731H72.2051V17Z" fill="black"/>
      </svg>
    </div>
  </div></div>
