<%- include('partials/'+versionPages.header) %>
<div class="container" style="padding-top:70px;">
  <% if (message) { %>
    <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <% if (project) { %>
      <%  project.forEach((project , index) => { %>
        <div class="card text-dark bg-light mb-2 text-center">
          <div class="card-body">
            <h5 class="card-title"><%= project.quoteNo %> <%= project.quoteName %> Add other costs</h5>
            <form class="add-project-form form-styles" action="" method="post" enctype="multipart/form-data">
              <input type="text" name="user" id="user" style="display:none;">
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="otherCostName">Other Cost Name</label>
                  <input type="text" class="form-control" name="otherCostName" id="otherCostName" value="" required>
                </div>
                <div class="form-group col-md-3">
                  <label for="otherCostAmount">Other Cost Amount</label>
                  <input type="number" class="form-control" name="otherCostAmount" id="otherCostAmount" value="" required step="0.01" min="0">
                </div>
              </div>
              <button type="submit" class="btn btn-success float-right">Add Cost</button>
            </form>
            <% }) %>
            <% } else { %>
              <p class="text-center">Project Not Found. Go <a href="/add">here</a> to add Projects.</p>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </body>
    </html>
