<% include partials/nomenu-header.ejs %>
<style>
  .form-control {
    width: 400px;
    margin: auto;
  }
</style>
<div class="container" style="padding-top:70px;">
  <% if (message != '') { %>
    <h1 class="text-center text-danger"><%= message %></h1>
    <% } %>
    <div class="card text-dark bg-light mb-2 text-center">
      <div class="card-body">
        <h5 class="card-title">Please change your password</h5>
        <form class="add-client-form form-styles" action="" method="post" enctype="multipart/form-data">
          <input type="password" name="password" class="form-control" id="password" placeholder="New password" />
          <input type="password" name="confirmationpass" class="form-control" id="confirmationpass" placeholder="Confirm password" />
          <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary ">Change password</button>
          </div>
        </form>
        </div>
      </div>
    </div>
</body>
</html>
