<style>
.chode {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 120px;
    height: 120px;
    margin:auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    text-align:center;
}
@-moz-keyframes spin { 100% { -moz-transform: scale(2); } }
@-webkit-keyframes spin { 100% { -webkit-transform: scale(2); } }
@keyframes spin { 100% { -webkit-transform: scale(2); transform:scale(2); } }

body{
  background:url("/stonks.png") no-repeat center center fixed;
  -webkit-background-size: 90%;
  -moz-background-size: 90%;
  -o-background-size: 90%;
  background-size: 90%;
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
}

</style>
<div class="chode" style="display:none;">
<pre>
<h1>

 </h1>
 </pre>
 </div>
