<%- include('partials/'+versionPages.header) %>
<div id="contentContainer">
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/ForstaDataEditor.js"></script>
<link rel="stylesheet" href="/css/virtual-select.min.css">
<script src="/js/virtual-select.min.js"></script>
  <div class="editor" style="width:100%">

  </div>
<style media="screen">

</style>
<script type="text/javascript">
  // let pid="p427331736414"
  let editor=$(".editor").forstaDataEditor({})
</script>
</body>
</html>
