<%- include('partials/'+versionPages.header) %>
<script>
$(document).ready(function () {
  let id='<%=recordingID%>'
  $.ajax({
    url: '/get-rc-recording/'+id,
    type: 'GET',
    contentType: 'application/json',
    success: function (response) {
      downloadFile(response)
    },
    error: function (jqXHR, exception) {
      alert(getErrorMessage(jqXHR, exception))
    },
  });
})
function downloadFile(url){
  const a = document.createElement('a');
  a.style.display = 'none';
  a.href = url;
  a.download="";
  document.body.appendChild(a);
  console.log(url)
  a.click();
  window.URL.revokeObjectURL(url);
}
function startDownload() {
  let id='<%=recordingID%>'
  $.ajax({
    url: '/get-rc-recording/'+id,
    type: 'GET',
    contentType: 'application/json',
    success: function (response) {
      downloadFile(response)
    },
    error: function (jqXHR, exception) {
      alert(getErrorMessage(jqXHR, exception))
    },
  });
}
</script>
<div class="container" style="padding-top:70px;">
  <div class="card text-dark bg-light mb-2 text-center">
    <div class="card-body viewerHeight">
      If download does not start automatically, <a href="#" onclick="startDownload()">click here</a>...
    </div>
  </div>
</div>
</body>
</html>
