<%- include('partials/'+versionPages.header) %>
<div class="container">
  <div class="innerPage" data-title="Interviewers" data-href="/view-interviewers/1" data-height="740px">
  </div>
  <div class="innerPage" data-title="League table" data-href="/interviewer-league-table" data-height="700px">
  </div>
  <div class="innerPage" data-title="Dials" data-href="/dial-report/0" data-height="700px">
  </div>
  <div class="innerPage" data-title="Snapshot" data-href="/interviewer-snapshot" data-height="700px">
  </div>
</div>
<script type="text/javascript">
  $('.innerPage').innerPage()
</script>
</body>
</html>
