<style>
body{
  color:#fff!important;
  background-color:#2d2d2d!important;
}

.btn {
  background-color: #3a586d!important;
  margin: auto;
  border: 1px #3a586d solid!important;
  width: 60%;
}

.container {
  text-align: center;
  background-color:#2d2d2d!important;
  padding: 20px;
  border-radius: 20px;
}

</style>
  <title><%= title %></title>
<script src='/js/bootstrap.bundle.min.js'></script>
<script src='/js/bootstrap.min.js'></script>
<link rel='stylesheet' href='/css/bootstrap.min.css'>
<body>
  <div class="container">
    <h1>You have been logged out</h1>
    <a class="text-center btn-primary btn" href="/">Log back in</a>
  </div>

</body>
