<% include partials/login-header-v2.ejs %>
<style media="screen">
  :root {
    --tsbg: #630727;
    --primary:#630727;
    --subtle:#f0ebed;
    --highlight:#b15a79;
    --secondary:#b15a79;
    --warning:#bc8d00;
    --danger:#af0c0c;
    --success:#006818;
  }
  body{
    font-family: 'Arial Nova', sans-serif;
  }
  .load {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgb(255 255 255 / 74%);
    backdrop-filter: saturate(0) blur(4px);
  }
  .btn {
    border-radius: 0px;
    border: none;
    color: white;
    box-shadow: 0px 3px 9px -2px #00000030;
    transition: 0.1s all
  }
  .btn:focus {
    box-shadow: 0 0 0 .2rem #6307273d;
  }

  .btn:not(.btn-danger):not(.btn-outline-danger):hover{
    box-shadow: 0px 3px 9px -2px var(--primary);
  }
  .btn-light {
    background: white!important;
    color:var(--primary)!important;
  }
  .btn:not(.btn-danger):not(.btn-outline-danger):active{
    background: white!important;
  }
  .btn:active{
    color: var(--primary)!important;
    transform: translate(0px, 3px);
    box-shadow: none!important;
  }
</style>
<div id="bg-colour">
  <div style="margin: auto;height: 100%;display: flex;">
    <form class="login-form" action="" method="post" enctype="multipart/form-data">
      <% if (message) { %>
        <p class="text-center text-danger message"><%= message %></p>
      <% } %>
        <div class="login-submit">
          <a href="/" class="forgot btn btn-light btn-sm">Back to login</a>
        </div>
      </form>
    </div>
  </div>
  </body>
  </html>
