<% include partials/nomenu-header.ejs %>
<style>
  .form-control {
    width: 400px;
    margin: auto;
  }
</style>
<div class="container" style="padding-top:70px;">
    <div class="card text-dark bg-light mb-2 text-center">
      <div class="card-body">
        <h5 class="card-title"><%= message %></h5>
        <a class="text-center btn-primary btn" href="/">Back to login</a>
        </div>
      </div>
    </div>
</body>
</html>
