<%- include('partials/'+versionPages.header) %>
<div id="contentContainer">
  <input type="text" name="" value="" id="sid">
</div>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/css/virtual-select.min.css">
<script src="/js/virtual-select.min.js"></script>
<style media="screen">
</style>

</script>
</body>
</html>
