.contacts {
  width: 100%;
  height: 100%;
  background: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity:0;
  border-radius: 22px;
  transition: all 0.5s;
}
.redacted{
  text-decoration: line-through 0.8em;
}
.nameHover {
  position: relative;
  width: 100%;
  height: 100%;
}
span.name {
  position: absolute;
  width: 100%;
}
.nameHover:hover .contacts{
  opacity:0.9;
}
.contactBtn {
  border-radius: 50%;
  border: none;
  padding: 2px 1px;
  width: 26px;
  height: 25px;
  text-align: center;
}
.contactBtn:hover{
  color:var(--primary);
}
.contactBtn.rcPhone {
  background: white;
  color: var(--primary);
  border: 2px solid orange;
  line-height: 17px;
}
.contactBtn.rcPhone:disabled {
  pointer-events: none;
  border-color: gray;
  color: gray;
  background: #e4dcdc;
}
.contactBtn.rcPhone:hover{
  background:orange;
  color:white;
}
